@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

/*#title {
	font-family: 'Pacifico', sans-serif;
	padding-bottom: 30px;
}*/

#url-input {
	outline: none;
}

.todo-search:before {
    display: none;
}

.todo li:after {
    display: none;
}

.jumbotron {
    background-color: #34495E;
}

#title {
    display: block;
    margin: auto;
    width: 60%;
}

h1 {
    text-align: center;
}

input {
    border-radius: 15px;
    border: solid 3px rgba(255, 255, 255, .5);
    width: 100%;
    margin: 15px;
    padding: 5px 15px 6px;
}

.lang {
    text-align: center;
    margin-bottom: 30px;
}

.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #1ABC9C;
    border-color: #cacfd2;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 142px;
}

.site-footer {
	padding-top: 62px;
    text-align: center;
}

/*ANIMATION*/
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}