<!DOCTYPE html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Imagely</title>
    <!-- CSS stuff -->
    <link rel="stylesheet" href="dist/bootstrap/dist/css/bootstrap.min.css">
    <link href="dist/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="dist/jquery/dist/jquery.min.js"></script>
    <script src="dist/underscore/underscore-min.js"></script>
    <script src="dist/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="dist/angular/angular.js"></script>
    <script src="dist/angular-route/angular-route.js"></script>
    <script src="clarifyService.js"></script>
    <script src="yandexService.js"></script>
    <script src="mainController.js"></script>
</head>

<body ng-app="imagely" ng-controller="MainController">
    <div class="container-fluid page-wrap">
        <div class="row" id="title">
            <h1>Imagely</h1>
        </div>
        <div class="jumbotron">
            <input type="text" id="url-input" placeholder="Image url">
            <button ng-click="submit(); translate();" class="btn btn-block btn-lg btn-primary">Submit</button>
        </div>
        <div class="lang">
	        <button class="btn btn-sm btn-default" ng-click="changeES()">Español</button>
	        <button class="btn btn-sm btn-default" ng-click="changeVI()">Tiếng Việt</button>
	        <button class="btn btn-sm btn-default" ng-click="changeRU()">Русский</button>
	        <button class="btn btn-sm btn-default" ng-click="changeHE()">עברית</button>
	        <button class="btn btn-sm btn-default" ng-click="changeDE()">Deutsche</button>        	
        </div>

        <div class="row">
            <div class="col-md-3">
                <img ng-show="image" src="{{ image }}" alt="" width="250px" height="250px">
                <button ng-show="image" ng-click="saveImageUrl()" class="btn btn-block btn-lg btn-primary" id="bookmark-btn">Bookmark</button>
            </div>
            <div class="col-md-4">
                <div class="todo">
                    <div ng-show="tags" class="todo-search"></div>
                    <ul>
                        <li ng-repeat="tag in tags">{{ tag }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="todo">
                    <div ng-show="tags" class="todo-search"></div>
                    <ul>
                        <li ng-repeat="word in translatedArr track by $index">{{word}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

	<footer class="site-footer">
		<span>	Copyright &copy 2015 Hieu Do, Thomas Lam, and Ann Dang.</span>		
	</footer>
</body>
